.card-main{
    display: inline-flex;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    border: 0;
}
.card-img{
    height: 250px;
    width: 256px;
}
.nav-link{
padding-left: 20px;
}
.link-style{
    text-decoration: none;
    color: white;

    &:hover{
        color: white;
    }
}
.link-style-2{
    text-decoration: none;
    color: black;

    &:hover{
        color: black;
    }
}
.detail-border{
    border: 0px solid black;
    width: 33.3%;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}
.detail-border-2{
    border: 0px solid black;
    width: 66%;
    margin-left: 33.4%;
    position: absolute;
    top:91px;
    padding-left: 180px;
    height: 656px;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: #fff;
}
.detail-div-img{
    display: inline-block;
    padding-right: 100px;
    margin-left: 60px;
}
.detail-img{
    width: 498px;
}
.aside-img{
    width: 700px;
    height: 400px;
}
.aside-div{
    text-align: center;
    font-family: serif;
    margin-right: 200px;
}
.cart-img{
    height: 80px;
}
.cart-main{
    color: #fff;
    text-align: center;
}
.cart-main-div{
   display: flex;
   margin-left: 25%;
   border-bottom: 1px solid #fff;
   margin-right: 28%;
   width: 45%;

}
.cart-div{
    text-align: center;
    padding-left: 30px;
}
.cart-div-2{
    text-align: center;
    padding-left: 30px;
    margin-top: 20px;
    position: fixed;
    left: 50%;

    @media (max-width:1000px) {
        position: relative;
        padding-left: 0px;
        left: 40px;
    }
}
.cart-txt{
    font-family: serif;
    margin-top: 30px;

}
.button-remove{
    position: fixed;
    left:65%;
    @media (max-width:1000px) {
        position: relative;
        left: 0;
        
    }
}
.span-q{
    position: fixed;
    left: 60%;

    @media (max-width:1000px) {
        position: relative;
        left: 10px;
    }
}
    

@media only screen and (max-width: 1140px) {
    .title-span{
        display: none;
    }
}

.txt-h{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}
